.search{
    position: absolute;
    top: 35px;
    left: 25%;
    width:100vw;
}

.search > h2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 559px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 340px;
}

.search > input{
width: 559px;
padding:20px;
position: absolute;
left: 0;
top: 390px;
border: none;
}

.search > input:focus{
    outline-width: 0;
}

.search > Button{
    position: absolute;
    left:0;
    top:435px;
    text-transform: inherit !important;
    background-color: #fc8eac;
    color: white;
    width:559px;

}

.search > Button:hover{
    color:#fc8eac;
    background-color: white;
    
}