@import './resets';
@import './variables';


.card{
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    margin-left:20px;
    margin-bottom: 20px;
    
}

.card:hover{
    transform: scale(1.07);
}

.image{
    object-fit: fill;
    min-width: 15vw;
    min-height: 15vh;
    width: 100%;
    
}
.card__info{
 margin-top: -9px;
 border-radius: $border-radius;
 padding: 20px;
 padding-top: 20px;
 border:1;

}
.title{
    font-size: 18px;
    font-weight: weight(medium);
 
}

.description{
    font-size: size(medium);
    font-weight: weight(regular);
    margin-top: 8px;
    margin-bottom: 8px;
    color: gray;

}

