@import './resets';
@import './variables';




.resultCard{
   display: flex; 
   flex-direction: column;
   position: relative;
   height:250px;
   width: 250px;
   margin:20px;
   border-radius: 6px;
   box-shadow: 0 1px 3px rgba(0,0,0, 0.12);

   &:hover{
    opacity: 0.8;
    background-color: rgb(241, 241, 241);
   }

   img{
    object-fit: cover;
    height: 50%;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
}

Button{
    position: absolute;
    top:10px;
    right:0px;
    width: auto;
    
}
}

.resultCard__wholeDescription{
    cursor: pointer;
}

.resultCard__heartGray{
    color:gray;
}

.resultCard__heartRed{
    
    color: red;
}



.resultCard__ratingWstar{
    display: flex;
    margin-left: 10px;
}
.resultCard__rating{
    font-size: size(large);
    font-weight: weight(bold);
    margin-right:5px;
}
.resultCard__toCenter{
    font-size: size(small);
    margin-left:13px;
}
.resultCard__star{
    color: violet;
}

.resultCard__description{
    margin-left: 10px;
    font-size: size(large);
}

.resultCard__price{
    margin-left: 10px;
    font-size: size(xlarge);
    font-weight: weight(bold);
    text-decoration: underline;
}

.resultCard__hide{
    display: none;
}